 <div id="panels">
    <div id="panel-one" class="info-panel">
    <form>
      <ul class="list-inline center">
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="origin">
                Origin
              </label>
            <input type="search" class="form-control" id="origin" />
            </div>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="destination">
                Destination
              </label>
            <input type="search" class="form-control" id="destination" />
            </div>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <label for="destination">
              Departure
            </label>
          <input type="search" class="form-control" id="departuredate" />
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <label for="returndate">
              Return
            </label>
          <input type="search" class="form-control" id="returndate" />
          </div>
        </li>
        <br>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <label for="maxprice">
              Max Price
            </label>
          <input type="number" class="form-control" id="maxprice" min="0" pattern="\d+"/>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <label for="adults">
              Adults
            </label>
          <input type="number" class="form-control" id="adults" min="0" pattern="\d+"/>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <label for="children">
              Children
            </label>
          <input type="number" class="form-control" id="children" min="0" pattern="\d+"/>
          </div>
        </li>
        <br>
        <!--
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <label for="oneway">
              One way?
            </label>
          <input type="checkbox"  id="oneway" name="oneway"/>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <label for="oneway">
              Direct Flight?
            </label>
          <input type="checkbox"  id="oneway" name="oneway"/>
          </div>
        </li>-->
        <br>
        <button type="submit" class="btn btn-default" id="submit2">
          Submit
        </button>
      </ul>
      </form>
      </div>
