     <div id="panel-three" class="info-panel">
    <form>
      <ul class="list-inline center">
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="origin">
                Location
              </label>
            <input type="search" class="form-control" id="hotellocation" />
            </div>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="maxhotelrate">
                Maximum Rate
              </label>
            <input type="number" class="form-control" id="maxhotelrate" min="0" pattern="\d+"/>
            </div>
          </div>
        </li>
        <br>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="checkin">
                Check In
              </label>
            <input type="search" class="form-control" id="checkin" />
            </div>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="checkout">
                Check Out
              </label>
            <input type="search" class="form-control" id="checkout" />
            </div>
          </div>
        </li>
        <br>
        <br>
        <button type="submit" class="btn btn-default" id="submit3">
          Submit
        </button>
      </ul>
      </form>
      </div>
