      <div id="panel-two" class="info-panel">
    <form>
      <ul class="list-inline center">
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="attractionlocation">
                Location
              </label>
            <input type="search" class="form-control" id="foodlocation" />
            </div>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group  whtTxt">
            <div class = "ui-widget">
              <label for="keyword">
                Keyword
              </label>
            <input type="search" class="form-control" id="foodkeyword" />
            </div>
          </div>
        </li>
        <br>
        <br>
        <button type="submit" class="btn btn-default" id="ME">
          Submit
        </button>
      </ul>
      </form>
      </div>
