<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1 id="yoyo">HELLO</h1>
  <form >
    <input id="category" name="category">
    <input id="area" name="area">
<button id="ME">Submit</button>
<br>
  <form >
  <h1>Flights</h1>
      <label>Origin</label><br>
    <input id="origin" name="origin"><br>
        <label>Destination</label><br>
    <input id="destination" name="destination"><br>
           <label>Departure date</label><br>
    <input id="departuredate" name="departuredate"><br>
     <label>Duration</label><br>
    <input id="duration" name="duration"><br>
         <label>Max Price</label><br>
    <input id="maxprice" name="maxprice"><br>
             <label>One way?</label><br>
    <input id="oneway" name="oneway"><br>
             <label>Direct?</label><br>
    <input id="direct" name="direct"><br>
<button id="submit2">Submit</button>
<br>
 <form >
 <h1>Hotels</h1>
      <label>Location</label><br>
    <input id="location" name="location"><br>
        <label>Check in date</label><br>
    <input id="checkin" name="checkin"><br>
           <label>Check out date</label><br>
    <input id="checkout" name="checkout"><br>
     <label>Max rate</label><br>
    <input id="maxhotelrate" name="maxhotelrate"><br>
<button id="submit3">Submit</button>
<%= javascript_include_tag "script" %>
  </form>
</body>

</html>








