<form action='/trips' method='POST'>
  <h2>Add a trip:</h2>
  <label>hotel</label><br>
    <input name='hotels'><br>
  <label>events</label><br>
    <input name='events'><br>
      <label>locations</label><br>
    <input name='locations'><br>
      <label>flights</label><br>
    <input name='flights'><br>
      <label>attractions</label><br>
    <input name='attractions'><br>
        <label>name</label><br>
    <input name='trip_name'><br>
        <label>day</label><br>
    <input name='day'><br>


  <button>Submit</button>
</form>
<a href="/trips">Go Home</a>

